.AirQuality {
    width: 100%;
    padding: 15px;
    border-radius: 7px;
    /* background-color: #844CA6; */
    background-color: var(--main-col);
    position: relative;
    height: 170px;

}

.AirQuality .inside-box {
    padding: 10px;
    inset: 7px;
    border-radius: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 14px;
    /* background-color: #363676; */
    /* box-shadow: 0 0 10px var(--self-color); */
}

.AirQuality .air-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AirQuality .air-header h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    color: var(--self-color);
    text-transform: capitalize;
}

.AirQuality .air-header .air-con {
    background-color: rgb(0, 165, 0);
    padding: 7px 10px;
    border-radius: 20px;
    color: #363676;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 0 3px var(--self-color);
}

.AirQuality .air-data {
    margin-top: 7px;
    display: grid;
    grid-template-columns: repeat(5, 18%);
    gap: 2%;
    grid-template-rows: 70px;
    margin-bottom: 5px;
}

.AirQuality .air-data .air-icon {
    align-self: center;
    justify-self: center;
    font-size: 46px;
    color: var(--self-color);
}

.AirQuality .air-data .info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
    background-color: var(--secondary-col);
    border-radius: 10px;
    /* box-shadow: 0 0 3px var(--self-color); */
    /* background-color: #5D799E; */

}

.AirQuality .air-data .info-box span:first-of-type {
    font-size: 18px;
    /* font-weight: 600; */
    color: var(--self-color);
}

.AirQuality .air-data .info-box span:last-of-type {
    font-size: 24px;
    color: var(--text-color);
}