.SunriseSunset {
    width: 100%;
    padding: 10px 10px;
    border-radius: 7px;
    /* background-color: var(--secondary-color); */
    background-color: var(--main-col);
    position: relative;
    height: 170px;
}

@media (max-width:766px) {
    .SunriseSunset {
        margin-top: 10px;
    }
}

.SunriseSunset .inside-box {
    padding: 10px;
    inset: 7px;
    border-radius: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 14px;
    /* background-color: var(--main-color); */
    /* box-shadow: 0 0 10px var(--self-color); */
}

.SunriseSunset h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    color: var(--self-color);
    text-transform: capitalize;
}

.SunriseSunset .SunriseSunset-data {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.SunriseSunset .SunriseSunset-data .data-box {
    display: flex;
    width: 49%;
    justify-content: space-around;
    align-items: center;
    /* background-color: var(--secondary-col); */
    padding: 5px;
    /* border-radius: 5px; */
}

.SunriseSunset .SunriseSunset-data .data-box .Sunrise-icon,
.SunriseSunset .SunriseSunset-data .data-box .Sunset-icon {
    font-size: 34px;
}

.SunriseSunset .SunriseSunset-data .data-box .Sunrise-icon {
    color: #F2B800;
}

.SunriseSunset .SunriseSunset-data .data-box .Sunset-icon {
    color: #0076DD;
}

.SunriseSunset .SunriseSunset-data .data-box .text-content {
    display: flex;
    flex-direction: column;

}

.SunriseSunset .SunriseSunset-data .data-box .text-content span:first-of-type {
    font-size: 18px;
    line-height: 1.6;
    color: var(--self-color);
}

.SunriseSunset .SunriseSunset-data .data-box .text-content span:last-of-type {
    font-size: 24px;
    color: var(--text-color);
}